<%= content_tag :div, id: 'plugin-projects', class: 'tab-pane fade' do %>
  <h4 class="header-underline mb-0">Ready when you are!</h4>

  <div class="mt-4">
    <%= form_tag dradis_projects.project_package_path(current_project), class: 'd-inline' do %>
      <button id="export-button" class="btn btn-lg btn-primary">Export All as Package</button>
    <% end %>

    or

    <%= form_tag dradis_projects.project_template_path(current_project), class: 'd-inline' do %>
      <button id="export-button" class="btn btn-lg">Export All as Template</button>
    <% end %>
  </div>
<% end%>
